*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#root{
    display: flex;
    justify-content: center;
    background-image: url("../../public/backgrounds/backgr.jpg");
    background-size: cover;
    min-height: 100vh;
}


.App{
    width: 800px;

}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}


