.NavBar {
    align-items: center;
    justify-content: space-between;

}

.NavBar button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.NavBar button:hover {
    background-color: #45a049;
}

.NavBar button:last-child {
    margin-right: 0;
}
